.who-am-i {
    position: absolute;
    top: 15rem;
    font-family: 'Cabin';
}

#pwho {
  max-height: 5rem;
  min-width: 60rem;
  max-width: 100rem;
  min-height: 20rem;
  display: block;
  position: absolute;
  top: 3rem;
}
#pwholess {
  display: none;
}
#read-more-bt {
  position: relative;
  top: 2.5rem;
left: 53rem;
background-color: #02293b;
color: white;
border: black;
font-weight: bold;
font-family: 'Syncopate', sans-serif;
}
#read-more-bt:active {
color: #d1ebf7;
}
#read-more-bt:hover {
  background-color: #97bbcc;
}

.follow-us-icon {
  height: 2rem;
}
.follow-us {
  display: block;
  position: absolute;
  top: 25rem;
}
