body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ed/F2DF89D25.gif");
}

a {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.main {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/77/Scratch_BG_colwia.gif");
}

.text {
  font-weight: 900;
position: relative;
top: 20px;
font-size: 40px;
}

.vid {
  display: none;
}
